<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:beans="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
http://www.springframework.org/schema/security 
http://www.springframework.org/schema/security/spring-security-3.1.xsd">
    

    <http auto-config="true">
        <access-denied-handler error-page="/403" />
        <intercept-url pattern="/**" access="ROLE_ANONYMOUS" />
        <form-login login-page="/login" default-target-url="/home"
            authentication-failure-url="/login?error"/>
        <logout logout-success-url="/login?logout" invalidate-session="true"/>
    </http>

    <beans:bean id="my403"
        class="mks.dm.handler.MyAccessDeniedHandler">
        <beans:property name="errorPage" value="403" />
    </beans:bean>

    <authentication-manager>
        <ldap-authentication-provider 
            user-search-filter="(uid={0})"
            user-search-base="ou=Users"
            group-search-filter="(member={0})"
            group-search-base="ou=Groups"
            group-role-attribute="cn"
            role-prefix="ROLE_">
        </ldap-authentication-provider>
    </authentication-manager>
<!--     <ldap-server url="ldap://localhost:389/dc=oneworld,dc=com" manager-dn="cn=Manager,dc=oneworld,dc=com" manager-password="changeit" /> -->
    <ldap-server url="ldap://10.88.16.138:389/dc=fsoft,dc=com,dc=vn" manager-dn="cn=Manager,dc=fsoft,dc=com,dc=vn" manager-password="fsoft" />
    <!-- <ldap-server url="ldap://125.253.118.80:389/dc=fsoft,dc=com" manager-dn="cn=Manager,dc=fsoft,dc=com" manager-password="talavua" /> -->
</beans:beans>