
#menu-container {
  width: 100px
}

.view-pager {
  float: left;
  display: inline;
  list-style-type: none;
}

.view-pager > ul > li {
  float: left;
  display: inline;
  list-style-type: none;
}

.pager-links > li {
  float: left;
  display: inline;
  list-style-type: none;
}

.view-pager-previous {
  display: inline;
}

.view-pager-links {
  display: inline;
}
.view-pager-links > li {
  display: inline;
}

.nav-left {
  display: inline;
}
.navbar-right .dropdown-menu:before {
  display: inline;
  right: 15px;
}
